.App {
  text-align: center;
  background-image: url(https://img.freepik.com/photos-gratuite/route-etroite-dans-champ-herbeux-vert-entoure-arbres-verts-soleil-eclatant-arriere-plan_181624-9968.jpg?w=2000);
  width: 100%;
}
 /* .user{
  color: white;
  display: flex;
  flex-direction: column;
} */
 .chimo{
  width: 80%;
  padding: 1.1em;
  margin-top: 20px;
  border-radius: 10pm ;
  box-shadow: -1px 0px 5px 4px rgba(91, 86, 86, 2);
  display: flex;
  flex-direction: column;
  align-items: center;
 margin-left: 170px;
} 
/* .chimo h1{
  color: rgb(69, 68, 68);
} */


 
